<!DOCTYPE html>
<html lang="en">
    <head>
        
<!-- Ex2 -->
        
<!-- Ex3 -->
        <title>Home - Ninzero Tech Garage</title>
        
        <%- include("../fragments/head.ejs") %>
<!-- Ex5 -->
    </head>
    <body>
        <a id="top"></a>
        <!--header-->
        <%- include("../fragments/header.ejs") %>
        <main>
            <p><button id="change-theme" class="fas fa-adjust" title="Change theme"></button></p>
            <div id="layout">
                <div class="grid" id="div1">
                    <p style="font-size: 25px">
                        <b>Subscribe</b> for 5 euro and you can get your hands on weekly price 
                        cuts on your favorite items.<br>
                    </p>   
                    <p style="font-size: 25px">
                        
                        <b>Stock</b> for the latest graphics cards has arrived yesterday. 
                        For the chance to get a piece, enroll to our newsletter.
                    </p> 
                </div>
                <div class="grid" id="div2">
                        <table id="table-fp">
                            <caption>Working Hours</caption>
                            <thead>
                                <tr>
                                    <th>Hours/Days</th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>8:00-10:00</td>
                                    <td>Michael</td>
                                    <td>Lucy</td>
                                    <td>John</td>
                                    <td>Mary</td>
                                    <td>Alex</td>
                                    
                                </tr>
                                <tr>
                                    <td>10:00-12:00</td>
                                    <td>Michael</td>
                                    <td>Damon</td>
                                    <td>Jack</td>
                                    <td>Mary</td>
                                    <td>Alex</td>
                                </tr>
                                <tr>
                                    <td>12:00-14:00</td>
                                    <td>Richard</td>
                                    <td>Barney</td>
                                    <td>John</td>
                                    <td>Mary</td>
                                    <td>Bobby</td>
                                </tr>
                                <tr>
                                    <td>14:00-16:00</td>
                                    <td>Richard</td>
                                    <td>Barney</td>
                                    <td>Jack</td>
                                    <td>George</td>
                                    <td>Bobby</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">The shop is closed in weekend.</td>
                                </tr>
                            </tfoot>
                        </table>
                </div>
                <div class="grid" id="div3">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised 
                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                
                <div class="grid" id="div4">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised 
                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and mor  e recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="grid" id="div5">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised 
                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="grid" id="div6">
                    <p>
                        <%- "IP User - " + locals.ip%>
                    </p>
                </div>
                <div class="grid" id="div7">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised 
                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="grid" id="div8">
                    <p style="text-align:center" >
                        
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised 
                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <section id="front-page">
                    <h2>
                        Front page
                    </h2>
                    <p>
                        Your convenient <b>Tech Shop</b> from 1999.
                    </p>
    
                    <p>
                        <q>Always connected to the <strong>Future</strong>.</q>
                    </p>
                </section>
                <!-- Ex7-8-12 -->
                <section id = "info">
                    <h2>
                        Info 
                        <i class="fas fa-cog fa-spin"></i>
                    </h2>
                        <section id = "FAQ">
                            <h3>
                                Frequently Asked Questions    
                            </h3>
                                <ul>
                                    <li><b>What is the repair policy?</b></li>
                                    
                                        <li>The maximum number of days that the product can be in the service shop is 15 days from the moment the issue whas presented to our support staff or the authorized service center.</li>
                                    
                                    <li><b>What is the return policy?</b></li>
                                    
                                        <li>Every client has the possibility to return the product in the next 14 days from the moment he got in the possesion of the item.</li>
                                </ul>
                        </section>
                </section>
                <%- include("../fragments/static-gallery.ejs") %>
                <section id = "categories">
                    <h2>
                        Products
                    </h2> <!-- Ex11 -->
                    <div id="iframe_container">
                        <div id="iframe_buttons">
                            <a href="https://www.youtube.com/embed/7vpXMiOzIzQ" target="product_iframe">HP Omen 15 2020 Review</a>
                                
                            <a href="https://www.youtube.com/embed/PAJyA4pZwbs" target="product_iframe">Apple iPhone 13 Pro Review</a>
                                
                            <a href="https://www.youtube.com/embed/YjcxrfEVhc8" target="product_iframe">Nvidia GeForce RTX 3090 Review</a>      
                        </div>
                            <iframe name="product_iframe" width="500" height="350" src="https://www.youtube.com/embed/7vpXMiOzIzQ"></iframe>
                    </div>
                        <details>
                            <summary>If you are interested</summary>
                            <ul>
                                <li>
                                    For more information about the comparisons between components you can watch the following video <a href="https://www.youtube.com/watch?v=wAX1lh985do" target="_blank">here</a>.
                                </li>
                            </ul>
                        </details>
                </section>
            </div>
            
        </main>
<!-- Ex13-14 -->
        <!--footer-->
        <%- include("../fragments/footer.ejs") %>
    </body>
</html>