<!DOCTYPE html>
<html lang="en">
    <head>
        
<!-- Ex2 -->
        
<!-- Ex3 -->
        <title>Home - Ninzero Tech Garage</title>

        <%- include("../fragments/head.ejs") %>
<!-- Ex5 -->
    </head>
    <body>
        <a id="top"></a>
        <!--header-->
        <%- include("../fragments/header.ejs") %>
        <main>
            <%- include("../fragments/static-gallery.ejs") %>
            <%- include("../fragments/animated-gallery.ejs") %>
        </main>
<!-- Ex13-14 -->
        <!--footer-->
        <%- include("../fragments/footer.ejs") %>
    </body>
</html>